<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="places.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>

    <div class="top-bar">
        <div class="container flex-between">
            <div class="top-left">
                <span> United States <i class="fa fa-caret-down"></i></span>
                <span class="ml-20">Sign Up</span>
            </div>
            <div class="top-right">
                <span><i class="fa fa-phone"></i> Call : +1234567890</span>
                <span class="ml-20"><i class="fa fa-envelope"></i> demo@gmail.com</span>
            </div>
        </div>
    </div>

    <header class="hero">
        <nav class="navbar">
            <div class="container flex-between">
                <div class="logo">
    <div class="logo-icon">
        <i class="fas fa-plane-departure"></i>
    </div>
    <div class="logo-text">
        <span class="main-logo">Travel Blog</span>
        <span class="sub-logo">Place Explorer</span>
    </div>
</div>
                <ul class="nav-links">
                    <li><a href="index.html" class="active">HOME</a></li>
                    <li><a href="about1.html" class="active">ABOUT</a></li>
                    <li><a href="places.html" class="active">PLACES</a></li>
                    <li><a href="blog.html" class="active">BLOG</a></li>
                    <li><a href="contact.html" class="active">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
    <section class="places-section">
        <h2>Places</span></h2>
        <div class="underline"></div>
        <div class="places-container">
            <!---place1--->
        <div class="place-card">
            <img src="https://images.unsplash.com/photo-1685790582503-1b2762d95407?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"alt="place">
            <div class="place-content">
                <h3>Red Fort</h3>
                <small>Delhi,India</small>
                <p>The Red Fort is one of India’s most historic monuments,built during the Mughal era and known for its massive red sandstone walls.It is a symbol of India’s rich heritage and an important national landmark..</p>
                <a href="#"class="btn">Read More</a>
                </div>
        </div>  
            <!---place2--->
        <div class="place-card">
            <img src="https://img.freepik.com/free-photo/eiffel-tower-with-bridge-river-seine-paris-france_649448-4968.jpg"alt ="place">
            <div class="place-content">
                <h3>Eiffel Tower</h3>
                <small>Paris,France</small>
                <p>The Eiffel Tower is a world-famous iron monument located in Paris,France,built in 1889 for the World’s Fair.It stands about 330 meters tall and is one of the most visited tourist attractions in the world, offering stunning city views from its top.</p>
                <a href="#"class="btn">Read More</a>
            </div>
        </div>  
            <!---place3-->
        <div class="place-card">
            <img src="https://res.cloudinary.com/dtljonz0f/image/upload/c_auto,ar_4:3,w_3840,g_auto/f_auto/q_auto/v1/shutterstock_2476048819_ss_non-editorial_vcahpp?_a=BAVAZGGf0"alt="place">
            <div class="place-content">
                <h3>British Museum</h3>
                <small>Londan,England</small>
                <p>The British Museum is one of the world’s largest and most famous museums, showcasing history and culture from across the globe.It houses over 8 million objects, including the Rosetta Stone and Egyptian mummies, showing human history and culture from around the world.</p>
                <a href="#"class="btn">Read More</a>
            </div>
        </div>  
          <!---place4--->
        <div class="place-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbr1cIPoeURD3keU9mWbCUOD7ungk_eAcTlw&s"alt="place">
            <div class="place-content">
                <h3>Boulders Beach</h3>
                <small>Cape Town,South Africa</small>
                <p>Boulders Beach is a famous coastal spot known for its colony of African penguins and clear blue waters. It is a unique place where visitors can enjoy the beach while watching penguins in their natural habitat..</p>
                <a href="#"class="btn">Read More</a>
            </div>
        </div>  
          <!---place5--->
        <div class="place-card">
            <img src="https://images.locationscout.net/2024/11/bangkok-wat-arun-thailand-myoq.webp?h=1400&q=80"alt="place">
            <div class="place-content">
                <h3>Wat Arun</h3>
                <small>Bangkok,Thailand</small>
                <p>Wat Arun, also known as the Temple of Dawn, is one of Bangkok’s most iconic landmarks, located along the Chao Phraya River.Wat Arun (Bangkok, Thailand), also called the Temple of Dawn, is one of the most famous landmarks of Bangkok.</p>
                <a href="#"class="btn">Read More</a>
            </div>
        </div>  
         <!---place6--->
         <div class="place-card">
            <img src="https://cdn.kimkim.com/files/a/content_articles/featured_photos/0ef121662112da3261957851d907bfe32f3eadd9/big-8933673020689f2f4c8ebec70e761b5f.jpg"alt="place">
            <div class="place-content">
                <h3>Florence</h3>
                <small>Tuscany,Italy</small>
                <p>Florence is a beautiful historic city in Italy, famous as the birthplace of the Renaissance.
It is known for its stunning art, architecture, and landmarks like the Duomo and Ponte Vecchio.
The city is home to world-class museums such as the Uffizi Gallery.<p>
                <a href="#"class="btn">Read More</a>
            </div>
        </div>  
        </div>
    </section>

</body>
</html>